.newscard {
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  padding: 20px;
  margin: 20px;
  max-width: 300px;
  transition: transform 0.2s ease-in-out; /* Hover effect */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.newscard:hover .card-content {
  transform: scale(1.05); /* Slight grow on hover */
}
.popup-active .newscard:hover {
  transform: none; /* Disable hover scaling when popup is active */
}

/* .newstitle {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
} */

.newstitle {
  overflow: hidden; /* Hides any text that overflows the fixed width */
  text-overflow: ellipsis; /* Adds "..." at the end of the text if it overflows */
  /* Optional styles for better appearance */
  font-size: 24px;
  font-weight: bold;
  color: #333;
  padding-bottom: 10px;
}

.duration {
  display: flex;
  justify-content: space-between;
}
.newsdate {
  font-size: 14px;
  color: #777;
}
.numberofdays {
  font-size: 14px;
  color: red;
}
.sourceinfo {
  font-size: 14px;
  color: #000;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}
.sourcename {
  color: rgb(39, 173, 167);
}

/* Card background states */
.newscard.approved {
  background-color: lightgreen;
  font-weight: bold;
}

.newscard.reported {
  background-color: lightcoral;
  font-weight: bold;
}

.readButton {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.readButton:hover {
  background-color: #45a049;
}
