.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Dark transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  width: 1000px;
  max-width: 90%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  font-family: "Arial", sans-serif;
}
.modalContent h2 {
  font-size: 24px;
  margin-bottom: 20px; /* Add some space below the title */
  color: #333;
}

.modalContent p {
  margin-bottom: 15px; /* Space between paragraphs */
  font-size: 16px;
  line-height: 1.6; /* Improve readability with line height */
  color: #555;
}

.modalButtons {
  display: flex;
  justify-content: space-between; /* Space out buttons */
  margin-top: 20px;
}

.closeButton {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 5px;
  margin-top: 20px;
}

.closeButton:hover {
  background-color: #d32f2f;
}

.feedbackButton {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 5px;
}

.feedbackButton:hover {
  background-color: #0056b3;
}
